template(name="projectSubmit")
    #newProject
        +autoForm(collection="Projects" id="insertProjectForm" type="method" meteormethod="createProject" class="form-style")
            fieldset
                +afQuickField name="name" class="text-field form-control"
                +afQuickField name="description" class="text-field form-control" rows=3
            button(type="submit" class="btn btn-sm btn-outline-inverse") Submit

        button(id="cancelNewProject" class="btn btn-sm btn-outline-inverse") Cancel





    //form(role="form" id="insertProjectForm" validation="blur")
                    //    .form-group
                    //        label(for="name") Name
                    //        input(type="text" class="form-control" name="name")
                    //    .form-group
                    //        label(for="address") Address
                    //        input(type="text" class="form-control" name="address")
                    //    button(type="submit" id="createProject" class="btn btn-default") Submit