template(name="home")
    +homeDiv
    +bureau
    +services
    +partners
    +contact
template(name="homeDiv")
    #home.page
        .mainlogo
            img(src="images/logo_transp.png" width="438px" id="logo")
template(name="bureau")
    #bureau.page
        .col-sm-10.col-md-9
            h1.section-title Bureau
            .clearfix
            p Bureau d’étude basé à Bruxelles et organisé sous la forme d’une petite structure flexible, polyvalente et efficiente.
            p A l’écoute de divers type d’acteurs immobiliers, le bureau offre ses services avec une volonté de « sur-mesure client ».
            p Chaque problématique est étudiée de façon indépendante et s’intègre dans un processus global synthétisant à la fois les aspects économiques, techniques, architecturales et urbanistiques.

template(name="services")
    #services.page.clearfix
        .col-sm-12.col-md-12.pull-right.clearfix
            h1.section-title.bullets Services
            .clearfix
            section.grid.row.clearfix.clearfix-for-2cols
                .grid-item.col-md-6
                    .item-content.clearfix
                        ul.services
                            li Audit technique et rapport d'inspection d'état d'immeuble.
                            li Assistance au Maître de l’Ouvrage, architectes et entrepreneurs à la recherche d’un arbitrage objectif.
                            li Assistance à la gestion locative et à l’optimalisation d’un portefeuille immobilier.
                            li Inspection d'état locatif.
                            li Régularisation et conformité urbanistique.
                .grid-item.col-md-6
                    .item-content.clearfix
                        ul.services
                            li Etablissement de la valeur d’immeuble (valeur de construction, dépréciation par vétusté, valeur de marché ou vénale, valeur locative, valeur de rendement)
                            li Etude pour rénovation, construction, reconversion ou réaffectation d’immeuble.
                            li Etude de faisabilité économique.
                            li Conception architecturale et étude d'aménagement.
                            li Maîtrise d’ouvrage déléguée et suivi d’exécution de travaux.
template(name="partners")
    #partners.page
        h1.section-title  Partenaires et clients
        .clearfix
        section.grid.row.clearfix.clearfix-for-2cols
            .grid-item.col-md-6
                .item-content.clearfix
                    ul.services
                        li CPH Banque
                        li Fonds du Logement - Woningfonds
                        li Belsquare
                        li Triodos Bank
                        li One To Be
                        li C.S.T.C.
            .grid-item.col-md-6
                .item-content.clearfix
                    ul.services
                        li Easylife in Brussels
                        li Gotham City
                        li RB Construction
                        li Espace Kegeljan
                        li SECO
                        li InSpace

        //section.grid.row.customer-logos.clearfix.clearfix-for-2cols
        //    .grid-item.col-xs-6
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/cph_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/fdl_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/logo_belsquare.png" width="40%")
        //    .grid-item.col-xs-6
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/easylife_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/logo-gotham-city.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/RB.png" width="40%")

template(name="contact")
    #contact.page
        h1.text-right Contact
        .contact-details.col-sm-5.col-md-5.text-right
            p
                |Bob Aerts <br>
                |Expert immobilier et architecte
            p
                | Giulia Doretti <br>
                | ingénieur et architecte
            p
                | Rue du Monastère, 12 <br>
                | 1000 Bruxelles - Belgique
        .col-sm-7.col-md-7
            form.form-style.clearfix#newRequest
                .form-group
                    input(type="text" class="text-field form-control required" placeholder="Nom complet" name="name")
                .form-group
                    input(type="email" class="text-field form-control required" placeholder="email" name="email")
                .form-group
                    input(type="tel" class="text-field form-control required" placeholder="Téléphone" name="tel")
                .form-group
                    textarea(type="text" class="form-control required" placeholder="Message..." name="message")
                .form-group
                    button(type="submit" class="btn btn-sm btn-outline-inverse") Submit
