template(name="home")
    +homeDiv
    +bureau
    +services
    +partners
    +contact
template(name="homeDiv")
    #home.page
        h1.mainlogo
            img(src="images/logo_transp.png" width="438px" id="logo" alt="Bob Aerts, Expert Immobilier et architecte")
template(name="bureau")
    #bureau.page
        .col-sm-10.col-md-9
            h2.section-title {{_ "bureau"}}
            .clearfix
            |{{{_ "bureau_text"}}}

template(name="services")
    #services.page.clearfix
        .col-sm-12.col-md-12.pull-right.clearfix
            h2.section-title.bullets Services
            .clearfix
            section.grid.row.clearfix.clearfix-for-2cols
                .grid-item.col-md-6
                    .item-content.clearfix
                        ul.services
                            li {{_ "audit_technique"}}
                            li {{_ "assistance_maitre"}}
                            li {{_ "assistance_gestion"}}
                            li {{_ "service_etat"}}
                .grid-item.col-md-6
                    .item-content.clearfix
                        ul.services
                            li {{_ "etablissement_valeur"}}
                            li {{_ "etude_renovation"}}
                            li {{_ "etude_faisabilite"}}
                            li {{_ "conception_architecturale"}}
                            li {{_ "maitrise_deleguee"}}
template(name="partners")
    #partners.page
        h2.section-title  {{_ "partenaires_clients"}}
        .clearfix
        section.grid.row.clearfix.clearfix-for-2cols
            .grid-item.col-md-6
                .item-content.clearfix
                    ul.services
                        li CPH Banque
                        li citydev.brussels
                        li Triodos Bank
                        li One To Be
                        li C.S.T.C.
                        li Espace Kegeljan
                        li CIA
                        li As Built Architects
                        li Deraymaecker
            .grid-item.col-md-6
                .item-content.clearfix
                    ul.services
                        li SECO
                        li InSpace
                        li Fintro
                        li La Gestion d'Immeuble
                        li Jicéco
                        li AXA
                        li KBC
                        li CBC
                        li Phoenix

        //section.grid.row.customer-logos.clearfix.clearfix-for-2cols
        //    .grid-item.col-xs-6
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/cph_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/fdl_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/logo_belsquare.png" width="40%")
        //    .grid-item.col-xs-6
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/easylife_logo.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/logo-gotham-city.png" width="40%")
        //        .item-content.customer-logo.clearfix
        //            img(src="images/clients/RB.png" width="40%")

template(name="contact")
    #contact.page
        h2.text-right {{_ "contact"}}
        .contact-details.col-sm-5.col-md-5.text-right
            p
                |Bob Aerts <br>
                |{{_ "expert_architecte"}}
            p
                | {{_ "rue_monastere"}}, 12 <br>
                | 1000 {{_ "bruxelles"}} - {{_ "belgique"}}
                
            img.img-fluid.contact-photo#contact_photo(src="/images/DSC04840_resize3.jpeg" alt="Bob Aerts photo")
                
        .col-sm-7.col-md-7
            if emailSent
                p {{_ "email_envoye"}}
                p {{_ "nous_vous_recontacterons"}}
            else
                form.form-style.clearfix#newRequest
                    .form-group
                        input(type="text" class="text-field form-control required" placeholder="{{_ 'full_name'}}" name="name")
                    .form-group
                        input(type="Email" class="text-field form-control required" placeholder="email" name="email")
                    .form-group
                        input(type="tel" class="text-field form-control required" placeholder="{{_ 'tel'}}" name="tel")
                    .form-group
                        textarea(type="text" class="form-control required" placeholder="{{_ 'message'}}..." name="message")
                    #contact-errors
                      each errors
                        p.contact-form-error 
                          | {{err}}
                    .form-group
                        button(type="submit" class="btn btn-sm btn-outline-inverse") {{_ "submit"}}
