template(name="adminLayout")
    .background-image-overlay
    #contents.contents-container-admin
        section(id="main-content")
            .row
                .col-md-12
                    if currentUser
                        p username: {{username}}
                            button(id="logout" class="btn-xs btn-outline-inverse") Logout
                        +yield

                    else
                        +loginForm
