head
    meta(name="google-site-verification" content="0IkNLocYXsKPUIevlQNpVk16Dwn3W3VSy_20tIBprL0")
    meta(name="description" content="Bureau d’études basé à Bruxelles et organisé sous la forme d’une petite structure flexible, polyvalente et efficiente.")

template(name="basicLayout")
    .contents-container
        .startup-background
        .background-image-overlay
        #contents
            section(id="main-content")
                #page
                    +yield
            section(id="left-sidebar")
                +header
            section(id="footer")
                #go-to-top(onclick="scroll_to_top();")
                    span(class="icon glyphicon glyphicon-chevron-up")
                .footer-text-line copyright Bob 2014
    +yield region='modal'