template(name="clientLayout")
    .contents-container-admin
        .background-image-overlay
        #contents
            section(id="main-content")
                #page
                    +yield
            section(id="left-sidebar")
                +header
            section(id="footer")
                #go-to-top(onclick="scroll_to_top();")
                    span(class="icon glyphicon glyphicon-chevron-up")
                .footer-text-line copyright Bob 2014
    #modal-wrapper
    +yield region='modal'