template(name="header")
    #mobile-menu-icon.visible-xs(onclick="toggle_main_menu();")
        span(class="glyphicon glyphicon-th")
    ul#main-menu
        li#menu-item-home.menu-item.scroll(class="{{isActive 'home'}}")
            a(href="/#home") Home
        li#menu-item-bureau.menu-item.scroll(class="{{isActive 'bureau'}}")
            a(href="/#bureau") Bureau
        li#menu-item-services.menu-item.scroll(class="{{isActive 'services'}}")
            a(href="/#services") Services
        li#menu-item-partners.menu-item.scroll(class="{{isActive 'partners'}}")
            a(href="/#partners") Partenaires
        li#menu-item-projects.menu-item.scroll(class="{{isActive 'projects'}}")
            a(href="/#sharedocs") Dossiers
        li#menu-item-contact.menu-item.scroll(class="{{isActive 'contact'}}")
            a(href="/#contact") Contact
        li#menu-item-clients.menu-item(class="{{isActive 'clients'}}")
            a(href="clients") Espace clients
            //a(href="https://web131.bh-a.eu/fmi/webd#aertsexpert.fmp12" target="_blank") Login clients
