template(name="clients")
    #client.page.animated.slideInRight
        h2.text-left {{_ "espace_clients"}}

        p
            |{{_ "dossiers_traites"}} <br/>
            |{{_ "dossiers_heberges"}} <br/>
            |{{_ "dossiers_rapports"}} <br/>
            |{{_ "dossiers_besoins"}}
            a(href="/#contact") {{_ "contact"}}
        p {{_ "entrer_num_dossier"}}:
        form(id="file_login" class=" form-style clearfix")
            .form-group
                input(id="pin" name="pin" type="password" class="text-field form-control required" placeholder="{{_ 'num_dossier'}}")
            .form-group
                button#submit_file(type="submit" class="btn btn-sm btn-outline-inverse") {{_ "submit"}}
        .alert.alert-warning.hidden   #{nothing_found}

template(name="ProjectImageList")
    h3 {{_ "fichiers_dispo"}}
    div(id="images-{{project._id}}" class="row")
    each project_images
        +ProjectImage
template(name="ProjectImage")
    with FS.GetFile "images" image_id
        .col-md-6.sharedoc
            .row
                .col-md-6
                    if isImage
                        img(src="{{url}}" alt="{{name}}" class="img-thumbnail" width="140px")
                    else
                        .img-thumbnail.inverse
                            span.img-vertical-aligner
                            img(src="images/logo_transp.png" alt="{{name}}" width="140px")
                .col-md-6
                    a(href="{{url download=true}}" class="btn btn-sm btn-outline-inverse") download
            .row
                .col-md-12
                    p {{../name}}
                    br
                    span {{../description}}
                    br

